/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    background-color: lightblue;
    width: 90%;
    font-family: 'Otomanopee One', sans-serif;
    margin: 0 auto;
}

.title{
    display: inline-block;
    margin: 0 auto;
}

.bg-white{
    background-color: white;
}

.card{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 60px;
    height: 220px;
    width: 180px;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 15px;
}

.text{
    position: absolute;
    bottom: 20px;
    left: 30%;
    z-index: 1;
    color: violet;
    font-size: 1.2em;
    font-weight: 800;
}

.card-pattern{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-image: url(../img/pattern.png);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    z-index: 2;
}

.card-pattern:hover{
    display: none;
}

.air-baloon{
    background-image: url(../img/noun_air_balloon_3134741.png) ;
}

.bicycle{
    background-image: url(../img/noun_Bicycle_3134821.png) ;
}

.cruise-ship{
    background-image: url(../img/noun_Cruise_Ship_3134824.png) ;
}

.submarine{
    background-image: url(../img/noun_Submarine_3134738.png) ;
}

.tractor{
    background-image: url(../img/noun_Tractor_3134797.png) ;
}

.tram{
    background-image: url(../img/noun_Tram_3134750.png) ;
}